	
			table,tr,td,th
			{
				border:1px black solid;
				border-collapse: collapse;
			}
			td,th
			{
				padding: 5px;
			}

						
		.red
		{
			background-color: red;
			color: black;
		}
		.yellow
		{
			background-color: yellow;
		}
		.blue
		{
			background-color: blue;
		}

			